@charset "utf-8";

@import "../../node_modules/bulma/bulma";

.section.sbd {
  // Hack for text truncate
.column {
  min-width: 0;
}

.sbd-loader {
  opacity: 1;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
}

// Wrap this content inside components

.card-image {
  .labels {
    position: absolute;
    top: 1rem;
    left: 1rem;

    .tag {
      border-radius: 0;
      text-transform: uppercase;
      opacity: 0.7;
    }
  }
}

.card-content {   
  background-color: #eaebf7;
  padding: 1rem;

  .content {
    position: relative;
    .provider {
      background-color: #bbb;
      border: 1px solid rgba(102, 102, 102, 0.2);      
      position: absolute;
      right: 0px;
      top: -2.5rem;
      width: 100px;      
      height: 53px;      
      .provider-link {

      }

      .provider-image {
        max-height: 100px;
        min-height: inherit;
        width: 100%;
      }
    }

    .info {
      .bumpdate {
        text-transform: uppercase;
        margin-bottom: 0.5rem;
      }
      .meta {
        .meta-link {
          text-decoration: none;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          color: #303ab2;
        }
        .meta-price {
          font-size: 1.5rem;
        }
        .meta-tags {
          color: #303ab2;
        }        
      }
    }
  }
} 

}
